<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.require.core.commands.CommandsPackage"
            genModel="/model/RequireConfiguration.genmodel"
            uri="http://org.eclipse.require.commands/1.0">
      </package>
   </extension>
   <extension
         point="org.eclipse.ecl.core.scriptlet">
      <scriptlet
            class="org.require.core.commands.RequireFindProjectsService"
            name="RequireFindProjects"
            namespace="http://org.eclipse.require.commands/1.0">
      </scriptlet>
      <scriptlet
            class="org.require.core.commands.RequireImportService"
            name="RequireImport"
            namespace="http://org.eclipse.require.commands/1.0">
      </scriptlet>
   </extension>

</plugin>
