<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Require Configuration Editor"
            extensions="require"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.eclipse.require.ui.editors.config.RequireConfigurationEditor"
            id="org.eclipse.require.ui.editors.config.RequireConfigurationEditor">
      </editor>
   </extension>

</plugin>
