<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="importSourceProvider" name="importSourceProvider" schema="schema/importSourceProvider.exsd"/>

   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.require.ui.main.category"
            name="Require">
      </category>
      <wizard
            category="org.require.ui.main.category"
            class="org.eclipse.require.ui.wizards.RequireImportWizard"
            icon="icons/sample.gif"
            id="org.require.ui.import.wizard"
            name="Require Import">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.require.ui.commands"
            defaultHandler="org.eclipse.require.ui.actions.RequireOpenFileHandler"
            id="org.require.ui.openFile"
            name="Open File">
      </command>
      <category
            id="org.require.ui.commands"
            name="Require">
      </category>
   </extension>
	 <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.require.ui.openFile"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+4">
      </key>
   </extension>
  <extension
        point="org.eclipse.ui.startup">
     <startup
           class="org.eclipse.require.internal.ui.RequireToolsStartup">
     </startup>
  </extension>
</plugin>
