<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///org/eclipse/require/egit.ecore"
            class="org.require.egit.EgitPackage"
            genModel="model/require_egit.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ecl.core.scriptlet">
      <scriptlet
            class="org.require.egit.RequireGitRootService"
            name="RequireGitRoot"
            namespace="http:///org/eclipse/require/egit.ecore">
      </scriptlet>
   </extension>

</plugin>
