<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.require.core.configuration.ConfigurationPackage"
            genModel="/model/RequireConfiguration.genmodel"
            uri="http:///org/eclipse/require/core/configuration.ecore">
      </package>
   </extension>

</plugin>
